html {
	
}
/*create background image*/ 
body {
	background: black;
	
}


.Dinner div, img {
	height: 200px;
	width: 155px;
}


.center {
	margin-left: 50px;
	text-align: center;
}



.battleArea {
	margin: auto;
	color: white;
	background: blue;
	border: 2px solid maroon;
	width: 850px;
}



.allCharacters {
	
	float: right;
	width: 480px;
	height: 360px;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 45px;
	padding-bottom: 10px;
}

.allCharacters h3 {
	color: white;
	padding-top: 15px;
	text-align: left;
}

.battleArea {
	width: 65%;
	float: left;
	padding: 20px;

	height: 440px;
	margin-bottom: 20px;
}

.textArea {
	margin: auto;
	border: 1px solid black;
	display: none;
	border: none;
	text-align: center;
	padding: 10px;
}

.character {
	width: 150px;
}

.character img {
	margin-top: 25px;
	
	height: 100px;
	width: 100px;
}


.movieArea {
	float: left;
	margin-left: 25%;
	width: 180px;
}

.dinnerArea {
	float: right;
	margin-right: 25%;
	width: 180px;
}


.char {
	width: 100px;
	border: 3px solid blue;
}

/*style nav brand color and font*/
.navbar-brand {
	
	
	font-family: georgia;
	font-size: 32px;
}

.container-fluid {
    background: black;
}

.movieIntro {
	color: white;
}


/* screen responsiveness*/
@media screen and (max-width: 882px){
	.allCharacters, .battleArea {
		width: 500px;
	}

	.YourChar div, img {
		height: 80px;
		width: 60px;
	}

	.Dinner div, img {
		height: 100px;
		width: 100px;
	}


	.movieArea {
		margin-left: 10%;
		width: 180px
	}

	.dinnerArea {
		margin-right: 10%;
		width: 180px;
	}

	.navbar-header {
		
		
	}

	.navbar-toggle {
		display: block;
	}

	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}

	.navbar-collapse.collapse {
		display: none!important;
	}

	.navbar-nav {
		float: none!important;
		margin: 7.5px -15px;
		overflow: hidden;
	}

	.navbar-nav li {
		float: none;
		text-align: center;
	}

	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.navbar-text {
		float: none;
		margin: 15px 0;
	}


	.navbar-collapse.collapse.in { 
		display: block!important;
	}

	.collapsing {
		overflow: hidden!important;
	}

}

@media screen and (max-width: 640px){
	.allCharacters, .battleArea {
		width: 100%;
	}

	
	.movieArea {
		margin-right: 10%;
		width: 140px;
	}

	.dinnerArea {
		margin-left: 10%;
		width: 140px;
	}

	.navbar-brand {
		font-size: 15px;
	}


	.Dinner > div {
		width: 140px;
	}

	h2 {
	font-size: 25px;
	position: absolute;
	left: 10px;
	bottom: auto;
	}
}

@media screen and (max-width: 640px){
	.movieArea {
		margin-left: 1%;
		width: 130px;
	}

	.dinnerArea {
		margin-right: 1%;
		width: 130px;
	}
	
	p {
		font-size: 15px;
	}

}